# Airflow Core
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__WEBSERVER__EXPOSE_CONFIG=True
AIRFLOW__SCHEDULER__CATCHUP_BY_DEFAULT=False

# Conns: (we add them via init script)
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB_AIRFLOW=airflow
POSTGRES_DB_JOBS=jobs

REDIS_HOST=redis
REDIS_PORT=6379

# Optional S3 (for CSV/report export)
AWS_ACCESS_KEY_ID=changeme
AWS_SECRET_ACCESS_KEY=changeme
AWS_DEFAULT_REGION=eu-west-1
S3_BUCKET=airflow-jobs-etl-bucket
